body, html, #app {
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;

	*,* :before, *:after {
		box-sizing: inherit;
	}
}

#app {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
