@import "variables/colors";

:local {
	.root {
		overflow: hidden;
		border: 1px solid $black;
		margin-top: 20px;
		position: relative;
		cursor: pointer;
		width: 600px;
	}

	.title {
		padding: 5px 3px;
		word-break: break-all;
		font-size: 24px;
	}

	.description {
		composes: title;
		font-size: 16px;
	}

	.closeIcon {
		padding: 7px;
		right: 0;
		position: absolute;
	}

	.header {
		background-color: $green;
		margin-bottom: 8px;
		display: flex;
	}
}
