@import "variables/colors";

:local {
	.modal {
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $grey-1;
	}

	.modalContent {
		position: relative;
		background-color: $white;
		margin: auto;
		padding: 0;
		border: 1px solid $grey-2;
		width: 80%;
		height: auto;
		max-height: 500px;
		overflow: hidden;
		overflow-y: scroll;
	}

	.closeButton {
		color: $white;
		display: flex;
		justify-content: flex-end;
		padding: 11px;
	}

	.closeButton:hover,
	.closeButton:focus {
		color: $black;
		text-decoration: none;
		cursor: pointer;
	}

	.modalHeader {
		padding: 2px 0;
		background-color: $green;
		color: $white;
	}

	.loadingText {
		color: $light-red;
	}
}
